CONFIG_OF=y
CONFIG_PLATFORM_DRIVERS=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_XTABLES=m
CONFIG_NETFILTER_XT_NAT=m
CONFIG_NF_NAT_MASQUERADE=m
CONFIG_NF_NAT=m
CONFIG_NETFILTER_XT_MATCH_TCPMSS=m
CONFIG_NETFILTER_XT_MATCH_TCPUDP=m
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=m
CONFIG_NF_NAT_NEEDED=m
CONFIG_NF_CONNTRACK=m
CONFIG_NF_CONNTRACK_IPV4=m
CONFIG_NETFILTER_XT_TARGET_NAT=m
CONFIG_NETFILTER_XT_TARGET_NETMAP=m

# For Xen backend
CONFIG_BRIDGE=y
CONFIG_XEN_BLKDEV_BACKEND=y
CONFIG_XEN_NETDEV_BACKEND=y

# For qemu on xen
CONFIG_TUN=y

