[Unit]
Description=Bridge up notification
Wants=xenstored.service
After=xenstored.service network.target

[Service]
Type=simple
ExecStart=/usr/bin/xenstore-write drivers/bridge/status ready
RemainAfterExit=yes
ExecStopPost=/usr/bin/xenstore-write drivers/bridge/status dead
Restart=on-failure

[Install]
WantedBy=multi-user.target
